[submodule "TUM.CMS.VPLControl"]
	path = TUM.CMS.VPLControl
	url = https://github.com/ENGworks-DEV/TUM.CMS.VPLControl.git
[submodule "ENGyn-Public"]
	path = ENGyn-Public
	url = https://github.com/ENGworks-DEV/ENGyn-Public.git
